meta(charset='UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=1')

// SEO
title 刺客教條 12/28(三)跨年最強檔 - JUKSY 流行生活網
meta(name='keywords', content='流行,潮流,街頭,生活,娛樂,時尚,精品,穿搭,影音,音樂,電影,設計,藝術,3C,超跑,正妹')
meta(name='description', content='最期待動作片《刺客教條》終於來了!《X戰警》「萬磁王」麥可法斯賓達將回到中古西班牙的黑暗時期，展開最受全球影迷期待的刺客旅程！立刻分享你的最潮刺客穿搭，就有機會獲得《刺客教條》特映電影票！')
// SEO end

// FB
meta(property='fb:app_id', content='608477045879026')
meta(property='og:title', content='刺客教條 12/28(三)跨年最強檔')
meta(property='og:description', content='最期待動作片《刺客教條》終於來了!《X戰警》「萬磁王」麥可法斯賓達將回到中古西班牙的黑暗時期，展開最受全球影迷期待的刺客旅程！立刻分享你的最潮刺客穿搭，就有機會獲得《刺客教條》特映電影票！')
meta(property='og:image', content='img/fb.png')
meta(property='og:url', content='https://www.juksy.com/events/assassin2016creed')
meta(property='og:site_name', content='JUKSY 流行生活網')
meta(property='og:type', content='website')
// FB end

// Web Clip
link(rel='shortcut icon', href='https://www.juksy.com/img/logo.ico')
link(rel='apple-touch-icon-precomposed', href='https://www.juksy.com/img/logoios.ico')
// Web Clip end

// CSS
link(href='css/index.css', rel='stylesheet')
// CSS end

// JS global var
script(type='text/javascript')
	include ../js/head.js
// JS global var end