// layout04
section.layout_04(data-menu='true')
	.layoutWrap
		h2.title  SELECTED ARTICLES
		.detail 刺客指南
		.subTitleWrap
			p.subTitle 每個男人心中都有刺客魂，熟讀「刺客指南」，讓皮衣的帥、霸氣的眼神、穿越時空的冒險來喚醒你的刺客基因吧!
		.sliderWrap
			.slidesWrap.fadeOut
				ul.slides
					li
						a.img.imgLoading(href='https://www.juksy.com/archives/59574', target='_blank', data-imgload='https://static.juksy.com/static/600x600/files/articles/59574/cover/5844d8022decc.png')
							.linkWrap
								.linkBorder
									span.ch 馬上閱讀
									span.ch.arrow →
						.txtWrap
							a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/59574', target='_blank')
								h3 似乎叛逆 卻忠於不羈的帥氣！「萬磁王」麥可 ‧ 法斯賓達教你皮衣穿搭之道
					li
						a.img.imgLoading(href='https://www.juksy.com/archives/59575', target='_blank', data-imgload='https://static.juksy.com/static/600x600/files/articles/59575/cover/5844d66d26821.png')
							.linkWrap
								.linkBorder
									span.ch 馬上閱讀
									span.ch.arrow →
						.txtWrap
							a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/59575', target='_blank')
								h3 [問卦] 男人最想獲得哪種超能力逗妹子開心？
					li
						a.img.imgLoading(href='https://www.juksy.com/archives/59576', target='_blank', data-imgload='https://static.juksy.com/static/600x600/files/articles/59576/cover/5844db9f19735.png')
							.linkWrap
								.linkBorder
									span.ch 馬上閱讀
									span.ch.arrow →
						.txtWrap
							a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/59576', target='_blank')
								h3 不愛現況？盤點4部「穿越+基改」滿足控制慾的猛片
// layout04 end